<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.auth.SignUpServlet</servlet-class>
    </servlet>
    <servlet>


        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>controller.auth.VerifyAccount</servlet-class>

        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.Product.ProductServlet</servlet-class>

        <servlet-name>StaffValidate</servlet-name>
        <servlet-class>controller.auth.StaffValidate</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>


        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/verifyaccount</url-pattern>

        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>

    </servlet-mapping>

        <servlet-name>StaffValidate</servlet-name>
        <url-pattern>/staffvalidate</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <jsp-file>/staff.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff</url-pattern>
</servlet-mapping>

</web-app>
