<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.auth.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>controller.auth.VerifyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.Product.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffValidate</servlet-name>
        <servlet-class>controller.auth.StaffValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <jsp-file>/stafflogin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfo</servlet-name>
        <servlet-class>controller.customer.CustomerInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/verifyaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffValidate</servlet-name>
        <url-pattern>/staffvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfo</servlet-name>
        <url-pattern>/customerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>controller.auth.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/staff/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    
     <context-param>
        <param-name>verifyLinkExpirationTime</param-name>
        <param-value>1</param-value> 
    </context-param>
     <context-param>
        <param-name>verifyLinkExpirationConfirmTime</param-name>
        <param-value>10</param-value> 
    </context-param>
    
    
    
     <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>Error.ErrorServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
